<div class="container">
    <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin">
        <div class="card-body">
            <h5 class="card-title text-center">Register as patient</h5>
            <patient-form (onSubmit)="register($event)" [button-text]="'Submit'" [password-field]="true"></patient-form>
            <hr class="my-4">
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="button" routerLink="/register_provider">Register as provider</button>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="button" routerLink="/login">Login</button>
        </div>
        </div>
        <ngb-alerts></ngb-alerts>
    </div>
    </div>
</div>
    