<div *ngIf="current_user?.is_admin">
<app-browser-toolbar *ngIf="current_user?.is_admin">
    <li class="nav-item active flex">
        <i class="material-icons mr-1">library_add</i>
        <a class="nav-link" (click)="add_health_centre_rating()">Add health centre rating</a>
    </li>
    <li class="nav-item active flex">
        <i class="material-icons mr-1">library_add</i>
        <a class="nav-link" (click)="add_provider_rating()">Add provider rating</a>
    </li>
</app-browser-toolbar>
<div class="card" *ngIf="health_centre_ratings?.length">
    <div class="card-body">
        <h2 class="card-title">Health centre ratings</h2>
        <health-centre-rating-list [health-centre-ratings]="health_centre_ratings"></health-centre-rating-list>
    </div>
</div>
<div class="card" *ngIf="provider_ratings?.length">
    <div class="card-body">
        <h2 class="card-title">Provider ratings</h2>
        <provider-rating-list [provider-ratings]="provider_ratings"></provider-rating-list>
    </div>
</div>
</div>
        