<form (ngSubmit)="submit()" [formGroup]="form">
    <div class="form-group" *ngIf="show_patients">
        <label>Patients</label>
        <select formControlName="patient_id" class="form-control" placeholder="Patient" value="value?.patient_name?" required>
            <option *ngFor="let patient of patients" [value]="patient.id">{{patient.name}}</option>
        </select>
    </div>
    <div class="form-group" *ngIf="show_providers">
        <label>Providers</label>
        <select formControlName="provider_id" class="form-control" placeholder="Provider" value="value?.provider_name?" required>
            <option *ngFor="let provider of providers" [value]="provider.id">{{provider.name}}</option>
        </select>
    </div>
    <div class="form-label-group">
        <input formControlName="start_time" type="text" class="form-control" placeholder="Start time" id="inputStartTime" required autofocus>
        <label for="inputStartTime">Start time</label>
    </div>
    <div class="form-label-group">
        <input formControlName="end_time" type="text" class="form-control" placeholder="End time" id="inputEndTime" required>
        <label for="inputEndTime">End time</label>
    </div>
    <div class="form-label-group">
        <input formControlName="reason" type="text" class="form-control" placeholder="Reason" id="inputReason">
        <label for="inputReason">Reason</label>
    </div>
    <div class="form-label-group">
        <input formControlName="comment" type="text" class="form-control" placeholder="Comment" id="inputComment">
        <label for="inputComment">Comment</label>
    </div>
    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" [disabled]="form.invalid">{{button_text}}</button>
</form>