<table datatable class="table row-border">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Health centre</th>
            <th>Provider number</th>
            <th>Provider type</th>
            <th>Rating</th>
            <th *ngIf="current_user?.is_admin">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let provider of providers; let i = index;">
            <td><a routerLink="/providers/{{provider.id}}">{{provider.name}}</a></td>
            <td>{{provider.email}}</td>
            <td>{{provider.phone}}</td>
            <td><a routerLink="/health_centres/{{provider.health_centre_id}}">{{provider.health_centre_name}}</a></td>
            <td>{{provider.provider_number}}</td>
            <td>{{provider.provider_type}}</td>
            <td>{{provider.rating}}</td>
            <td *ngIf="current_user?.is_admin">
                <a (click)="modify(provider, i)" data-toggle="tooltip" title="Edit"><i class="material-icons mr-1">edit</i></a>
                <a (click)="delete(provider, i)" data-toggle="tooltip" title="Delete"><i class="material-icons">delete_outline</i></a>
            </td>
        </tr>
    </tbody>
</table>
    