:root {
    --input-padding-x: 2rem;
    --input-padding-y: 1.5rem;
}

body {
    min-width: 1000px;        /* Suppose you want minimum width of 1000px */
    width: auto !important;  /* Firefox will set width as auto */
    width: 1000px;            /* As IE6 ignores !important it will set width as 1000px; */
}

/* Content */
app-browser {
    width: 100%;
    height: 100%;
}

/* Sidebar */
.sidebar {
    flex-flow: column;
    background-color: #ffffff;
    position: relative;
    height: 100vh;
    float: left;
    top: 0;
    transition: all 0.3s;
    margin-right: 2rem;
    width: 180px;
    z-index: 100;
}

/* Browser content */
.browser-content {
    position: relative;
    margin-left: 2rem;
    margin-right: 2rem;
}

/* Toolbar */
app-browser-toolbar li {
    display: flex;
    cursor: pointer;
}

app-browser-toolbar li i {
    vertical-align: text-bottom;
}

app-browser-toolbar li a {
    font-weight: 300;
}

/* Alerts */
@keyframes alertAnimation {
    from {
        /* transform: scale(0); */
        border: 0rem;
        font-size: 0%;
        height: 0px;
        margin: 0rem;
        opacity: 0;
        transform: scaleX(0);
    }
    to {
        /* transform: scale(1); */
        border: 2rem;
        font-size: 100%;
        height: 50px;
        margin-top: 1rem;
        opacity: 1;
        transform: scaleX(1);
    }
}

@keyframes alertDismissAnimation {
    from {
        /* transform: scale(1); */
        border: 2rem;
        font-size: 100%;
        height: 50px;
        margin-top: 1rem;
        opacity: 1;
        transform: scaleX(1);
    }
    to {
        /* transform: scale(0); */
        border: 0rem;
        font-size: 0%;
        height: 0px;
        margin: 0rem;
        opacity: 0;
        transform: scaleX(0);
    }
}

.alert-container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    margin-bottom: 0px;
}

.alert {
    position: relative;
    animation: alertAnimation 0.5s ease;
    border-radius: 1rem;
    border: 2rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 0rem !important;
}

.alert-dismissed {
    animation: alertDismissAnimation 0.25s ease;
}

a {
    cursor: pointer;
}

/* Tables */
@keyframes tableItemExpand {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.01);
    }
}
table tbody tr:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

table td, table th {
    text-overflow: ellipsis;
}

/* Card views */
.card {
    border: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    margin-bottom: 1rem;
}
  
.card .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.modal-header .modal-title {
    font-weight: 300;
    font-size: 1.5rem;
}
  
.card .card-body {
    padding: 2rem;
}

.nav-tabs .active {
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.1);
}

/* Signin/registration */
.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
  
.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}
  
.card-signin .card-body {
    padding: 2rem;
}
  
/* form {
    width: 100%;
} */

/* Forms */
form .btn, .btn-round, .card-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
}
  
.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}
  
.form-label-group input, .form-group select {
    border-radius: 2rem;
}



.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    margin-left: .75rem;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}
  
.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}
  
.form-label-group input:-ms-input-placeholder {
    color: transparent;
}
  
.form-label-group input::-ms-input-placeholder {
    color: transparent;
}
  
.form-label-group input::-moz-placeholder {
    color: transparent;
}
  
.form-label-group input::placeholder {
    color: transparent;
}
  
.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}
  
.form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

form .btn-google {
    color: white;
    background-color: #ea4335;
}
  
form .btn-facebook {
    color: white;
    background-color: #3b5998;
}

/* Backgrounds */
.bg-blue-gradient {
    background: #9CECFB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-red-gradient {
    background: rgb(251, 175, 156);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(212, 0, 0), rgb(247, 118, 101), rgb(251, 175, 156));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(212, 0, 0), rgb(247, 118, 101), rgb(251, 175, 156));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-green-gradient {
    background: rgb(156, 251, 192);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(0, 212, 88), rgb(106, 247, 101), rgb(156, 251, 192));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(0, 212, 88), rgb(106, 247, 101), rgb(156, 251, 192));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Modal animations */
/* modal window animation */
@-webkit-keyframes windowFadeIn {
    from { 
        opacity: 0; 
        transform: rotate(180deg);
    }
    to { 
        opacity: 1; 
        transform: rotate(0deg);
    }
}  
@keyframes windowFadeIn {
    from { 
        opacity: 0; 
        transform: translate(0px,100px);
    }
    to { 
        opacity: 1; 
        transform: translate(0px, 0px);
    }
}

.modal-window-animation {
    animation: windowFadeIn 0.2s;
}

/* modal backdrop animation */
@-webkit-keyframes backdropFadeIn {
    from { 
        opacity: 0; 
    }
    to { 
        opacity: 0.5; 
    }
}  
@keyframes backdropFadeIn {
    from { 
        opacity: 0; 
    }
    to { 
        opacity: 0.5; 
    }
}

.modal-backdrop-animation {
    animation: backdropFadeIn 0.5s;
}